
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    max-width: 900px; 
    margin: auto;
}
.card {
    background-color: #d0e8f2;
    color: #1c1d1e;
    border: none;
    border-radius: 18px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(33.33% - 20px);
    height: 172px;
    text-align: center;
    margin: 3px;
    transition: transform 0.7s;
    text-decoration: none;
}
.card a {
    font-size: 23px;
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}
.card:hover {
    transform: translateY(-5px); 
    background-color: #a6e8f7; 
}
.card i {
    color: #0984e3; 
}
.card i:hover {
    color: #f76f6f; 
}
.card span {
    font-size: 23px;
    font-weight: bold;
    color: inherit;

}
@media (max-width: 768px) {
    .card {
        width: calc(40% - 20px); 
        padding: 20px;
    }
    .card span {
        font-size: 20px;
    }
}
